/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   https://snippet-generator.app/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

a{
    text-decoration: none;
}


/* 全域border box */
*,*::before,*::after{
    box-sizing: border-box;
}

.header{
    background-image: url(/week2/banner.png);
    background-size: cover;
    background-position: center center;
    height: 958px;
    background-color: #707070;
    display: flex;
    align-items: center;
    /* text-align: center; */
}
.container{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.header-container{
    width: 304px;
    margin: 0 auto;
}
.icons>ul{
    display: flex;
    width: 304px;
    justify-content: space-between;
}
/* about */
.about{
    width: 412px;
    margin: 0 auto;
}
.box{
    background-color: #891818;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    
}
.exp{
    width: 384px;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding-top: 28px;
}
.exp>ul>li{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* about end */
/* brand */
.brand{
    background-color: #000;
    text-align: center;
    justify-content: center;
}
.abBox-1{
    display: flex;
}
.adBox-2{
    display: flex;
    justify-content: space-between;
}
.adBox-3{
    display: flex;
    justify-content: space-between;
}
/* footer */
.contact{
    background-color: #000;
}